
<div class="col-md-12">
  <div class="col-md-6">
    <form action="/projects" method="post">
    <button class="btn btn-primary MEGA" type="submit" name="button">Projects</button>
    </form>
  </div>
  <div class="col-md-6">
    <form action="/volunteers" method="post">
    <button class="btn btn-success MEGA" type="submit" name="button">Volunteers</button>
    </form>
  </div>
  <br>
  <hr>
  <br>
  <h1><%= @volunteer[0]['name'] %></h1>
  <br>
  <h5><%= @project[0]['name'] unless @project.nil? %></h5>

  <br>
  <label for="volunteer_assign">Assign to Project</label>
  <form action="/volunteer/assign" class="form-group" method="post">
    <input type="hidden" name="volunteer[id]" value="<%= @volunteer[0]['id'] %>">
    <select class="form-control" name="volunteer[project_id]">
    <% Project.all.each do |project| %>
      <option value="<%= project['id'] %>"><%= project['name']%></option>
    <% end %>
    </select>
    <br>
    <button type="submit" class="btn btn-success">Assign</button>
  </form>
  <br>
  <form action="/volunteer/delete/<%= @volunteer[0]['id']%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" type="submit">Delete Volunteer</button>
  </form>

  <br>
  <a href="/" class="btn btn-info">Home</a>
</div>
